{% extends 'RUser/design.html' %}
{% block userblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 1104px;
    height: 142px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style6 {color: #FF0000}
.style8 {font-weight: bold}
.style10 {color: #FFFF00}
        .style12 {color: #FFFF00; font-weight: bold; }
        .style13 {
	color: #FFFF00;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">

                   <form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p align="center" class="text-uppercase pull-center style1">PREDICT AMBULANCE POSITIONING  TYPE!!! </p>
                            <hr>

                                {% csrf_token %}
                                <table width="1122" align="center">
                                  <tr>
                                    <td height="44" colspan="4" bgcolor="#FF0000"><div align="center" class="style13">ENTER ALL PROFILE ATTRIBUTE DETAILS HERE !!! </div></td>
                                  </tr>
                                  <tr>
                                    <td width="289" height="44" bgcolor="#FF0000"><div align="center"><strong><span class="style10"><br>
                                    Enter Fid</span></strong></div></td>
                                    <td width="240"><div align="center">
                                      <input type="text" name="Fid">
                                    </div></td>
                                    <td width="319" bgcolor="#FF0000"><span class="style12">Enter Temp</span></td>
                                    <td width="254"><div align="center">
                                      <input type="text" name="Temp">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><strong><span class="style10">Enter Wind</span></strong></div></td>
                                    <td><div align="center">
                                      <input type="text" name="Wind">
                                    </div></td>
                                    <td bgcolor="#FF0000"><span class="style12">Enter Date_Time</span></td>
                                    <td><div align="center">
                                      <input type="text" name="Date_Time">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><strong><span class="style10">Enter Age_band_of_driver</span></strong></div></td>
                                    <td><div align="center">
                                      <input type="text" name="Age_band_of_driver">
                                    </div></td>
                                    <td bgcolor="#FF0000"><span class="style12">Enter Sex_of_driver</span></td>
                                    <td><div align="center">
                                      <input type="text" name="Sex_of_driver">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><strong><span class="style10">Enter Vehicle_driver_relation</span></strong></div></td>
                                    <td><div align="center">
                                      <input type="text" name="Vehicle_driver_relation">
                                    </div></td>
                                    <td bgcolor="#FF0000"><span class="style12">Enter Driving_experience </span></td>
                                    <td><div align="center">
                                      <input name="Driving_experience" type="text" value="">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><strong><span class="style10">Enter Type_of_vehicle</span></strong></div></td>
                                    <td><div align="center">
                                      <input type="text" name="Type_of_vehicle">
                                    </div></td>
                                    <td bgcolor="#FF0000"><span class="style12">Enter Area_accident_occured</span></td>
                                    <td><div align="center">
                                      <input type="text" name="Area_accident_occured">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><strong><span class="style10">Enter Types_of_Junction</span></strong></div></td>
                                    <td><div align="center">
                                      <input type="text" name="Types_of_Junction">
                                    </div></td>
                                    <td bgcolor="#FF0000"><span class="style12">Enter Type_of_collision</span></td>
                                    <td><div align="center">
                                      <input type="text" name="Type_of_collision">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><strong><span class="style10">Enter Number_of_vehicles_involved</span></strong></div></td>
                                    <td><div align="center">
                                      <input name="Number_of_vehicles_involved" type="text" value="">
                                    </div></td>
                                    <td bgcolor="#FF0000"><span class="style12">Enter Number_of_casualties</span></td>
                                    <td><div align="center">
                                      <input type="text" name="Number_of_casualties">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><strong><span class="style10">Enter Vehicle_movement</span></strong></div></td>
                                    <td><div align="center">
                                      <input type="text" name="Vehicle_movement">
                                    </div></td>
                                    <td bgcolor="#FF0000"><span class="style12">Enter Cause_of_accident</span></td>
                                    <td><div align="center">
                                      <input type="text" name="Cause_of_accident">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><strong><span class="style10">Enter Accident_severity</span></strong></div></td>
                                    <td><div align="center">
                                      <input type="text" name="Accident_severity">
                                    </div></td>
                                    <td bgcolor="#FF0000"><span class="style12">Enter Ambulace_Allocated</span></td>
                                    <td><div align="center">
                                      <input type="text" name="Ambulace_Allocated">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style12">Ambulace_Pickedup</div></td>
                                    <td><div align="center">
                                      <input type="text" name="Ambulace_Pickedup">
                                    </div></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style12">Latitude</div></td>
                                    <td><div align="center">
                                      <input name="Latitude" type="text" value="">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style12">Longitude</div></td>
                                    <td><div align="center">
                                      <input type="text" name="Longitude">
                                    </div></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FFFFFF"><div align="center"></div></td>
                                    <td><div align="center"></div></td>
                                    <td><input name="submit" type="submit" class="style1" value="Predict Ambulance Positioning Type"></td>
                                    <td>&nbsp;</td>
                                  </tr>
                                </table>
					 </fieldset>
				  </form>


 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>

                            <hr>
                            <div>
                               <table width="813" height="52" border="5" align="center" bordercolor="#FF00FF">

                    <tr><td width="453" bgcolor="#FFFF00"><div align="center"><strong><span class="style8 style6">PREDICTION OF <span class="text-uppercase pull-center style1">AMBULANCE POSITIONING</span> IN ROAD ::</span></strong></div></td>
                      <td width="250" bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">------{{objs}} ------ </div></td>

                        </tr>


                      </table>

                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>